﻿@using Lab2.Areas.Identity
@using Lab2.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject UserManager UserManager
@{
	ViewData["Title"] = "Admin Page";
}

<div class="row mb-2">
	<div class="col-4">
		<a asp-action="AddUser" class="btn btn-info">Add new user</a>
		<a asp-action="ChangeSecuritySettings" class="btn btn-info">Configure Security Settings</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<section>
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr>
						<th>
							Email
						</th>
						<th>
							Roles
						</th>
						<th>
							Account Status
						</th>
						<th>
							Password Change Interval (days)
						</th>
						<th>
							Function param A
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in UserManager.Users)
					{
						<tr>
							<td>
								@user.Email
							</td>
							<td>
								@{
									var roles = await UserManager.GetRolesAsync(user);
									@string.Join(", ", roles.Where(x => x != "PasswordValid"))
								}
							</td>


							<td>
								@(user.LockoutEnd.HasValue && user.LockoutEnd > DateTimeOffset.Now ? "Locked" : "Active")
							</td>

							<td>
								<form asp-action="ChangeUserPasswordChangeInterval" method="post" onsubmit="return confirm('Are you sure you want to modify this value?');">
									<input type="hidden" name="userId" value="@user.Id" />
									<input type="number" name="days" value="@user.PasswordValidForDays" />
									<button type="submit" class="btn btn-success">Change</button>
								</form>
							</td>

							<td>
								@if (user.LockoutEnd.HasValue && user.LockoutEnd > DateTimeOffset.Now)
								{
									<form asp-action="UnlockUser" method="post" onsubmit="return confirm('Are you sure you want to unlock this user?');" class="m-1">
										<input type="hidden" name="userId" value="@user.Id" />
										<button type="submit" class="btn btn-success">Unlock</button>
									</form>
								}
								else
								{
									<form asp-action="LockUser" method="post" onsubmit="return confirm('Are you sure you want to lock this user?');" class="m-1">
										<input type="hidden" name="userId" value="@user.Id" />
										<button type="submit" class="btn btn-warning" @(user.UserName == "ADMIN" ? "disabled" : "")>Lock</button>
									</form>
								}

								<form asp-action="DeleteUser" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');" class="m-1">
									<input type="hidden" name="userId" value="@user.Id" />
									<button type="submit" class="btn btn-danger" @(user.UserName == "ADMIN" ? "disabled" : "")>Delete</button>
								</form>

							</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	</div>
</div>